SQLSERVER_HOST=127.0.0.1
SQLSERVER_PORT=1433
# the db with this name must be made already in mssql
SQLSERVER_DATABASE=FloodProjectDB
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=
SQLSERVER_TRUSTED_CONNECTION=no
# Use this Command [Get-OdbcDriver | Where-Object {$_.Name -like "*SQL Server*"}] for get the name
ODBC Driver 18 for SQL Server=ODBC Driver 18 for SQL Server

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=flood-risk-raw

GROQ_API_KEY=
GROQ_MODEL_NAME=